/*to resize*/
body {
    padding: 1em;
    margin: auto;
}

#header {
    color: rgba(4, 185, 95, 0.89);
}

.nav {
    color: crimson;
    border: cyan solid 0.1em;
}

ul > li.blueOne {
    color: darkblue;
}

/*main title div*/
.main-title {
    display: block;
    width: 50%;
    padding: 0.5em;
    margin-top: 2%;
    margin-left: 25%;
    font-weight: bold;
    font-size: .5em;
    color: rgb(214, 22, 22);
    background-color: rgb(39, 190, 19);
    text-align: center;
}

/*section*/
section {
    margin: 2em;
    background-color: rgba(176, 211, 23, 0.384);
}
.s01 {
    margin: 3em 3em;
    padding: 1em 1em;
    color: #b65; 
    text-align: center;   
}

.s02 {
    margin: 2em 2em;
    padding: 1.5em 1.5em;
    color: aquamarine;
    background-color: black;
    text-align: center;
}

aside {
    margin: auto;
    padding-right: 2em;
    text-align: center;
    border: 0.1em solid black;
    padding: 0.5%;
}

footer {
    display: block;
    margin-top: 5%;
    text-align: right;
    font-family: arial;
    color: brown;
}